# Big Data 2 - Hive

In [1]:
%login montana.dataapplab.com

[ssh] Login to montana.dataapplab.com...
[ssh] host=montana.dataapplab.com hostname=montana.dataapplab.com other_conf={'user': 'dcdsdepeizhang', 'port': 49233, 'keyfile': ['/home/dz3vg/.ssh/id_rsa'], 'load_system_ssh_config': False, 'missing_host_policy': <paramiko.client.WarningPolicy object at 0x7fc57c1f1590>}
[ssh] forwarding local agent
[ssh] Successfully logged in.

In [2]:
pwd

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang
/home/dcdsdepeizhang

In [3]:
ls -l

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang
total 8
drwxr-xr-x. 3 dcdsdepeizhang student 4096 Jul 30 21:30 data
drwxr-xr-x. 4 dcdsdepeizhang student 4096 Aug  3 22:32 demo

In [4]:
cd demo/

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang
[ssh] new cwd: /home/dcdsdepeizhang/demo

In [5]:
ls -l

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
total 48
-rw-r--r--. 1 dcdsdepeizhang student   732 Jul 29 23:04 derby.log
-rw-r--r--. 1 dcdsdepeizhang student 15609 Aug  3 23:12 hive-beeline.csv
-rw-r--r--. 1 dcdsdepeizhang student     9 Aug  3 21:17 hive-beeline.key
-rw-r--r--. 1 dcdsdepeizhang student   266 Aug  3 23:15 hive.sql
drwxr-xr-x. 2 dcdsdepeizhang student  4096 Jul 30 23:09 MapReduce
-rw-r--r--. 1 dcdsdepeizhang student  1683 Jul 29 23:04 spark-graphx.py
-rw-r--r--. 1 dcdsdepeizhang student   732 Jul 30 21:01 spark-mllib.py
-rw-r--r--. 1 dcdsdepeizhang student  1232 Jul 30 21:30 spark-sql.py
drwxr-xr-x. 2 dcdsdepeizhang student  4096 Jul 29 22:40 spark-warehouse

## 1. SQL Query with Beeline

In [6]:
beeline -u jdbc:hive2://m3.mt.dataapplab.com:10000/default -n dcdsdepeizhang -w hive-beeline.key --silent=true -e "show databases;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
+-------------------------------+--+
|         database_name         |
+-------------------------------+--+
| aadsxuhan_db                  |
| acdelingz_db_123              |
| acdeshaowu_db                 |
| aedsdavidh_db                 |
| aedsjasonc_db                 |
| aedsjiaxuf_db                 |
| aedsjinyul_db                 |
| aedsxiaofeiz_db               |
| aedsyingc_db                  |
| aedsyongz_db                  |
| aedsyuxint_db                 |
| afaye_db                      |
| afdebjfengye1_db              |
| afdebjfengye_db               |
| afdsbjxiaokang                |
| agdsbings_db                  |
| agdslex_db                    |
| agdsx                         |
| aisrexit                      |
| akdszhiyuanc_db               |
| alafaliq_travel               |
| alex_db                       |
| alex_demo                     |
| alick_db                      |
| allen_db                      |
| angelapper_db                 |
| angli_ab                      |
| anzong_db                     |
| badskunqiangj_db_123          |
| bhdsyunyuh_db                 |
| bhdsyunyuh_db_123             |
| binghuan_db                   |
| binghuan_stock_db             |
| binghuan_stock_db_oct_9_17    |
| binwen_x_nrd                  |
| bjdssherryz_db                |
| bjmaomao_db                   |
| cadsqiangt_test               |
| chen_db                       |
| chen_test                     |
| chenguang_ta                  |
| chenwei_db                    |
| chenyang_db                   |
| chi                           |
| chi_db                        |
| chloe_demodb                  |
| chris                         |
| chubing_db_123                |
| claire0317                    |
| claire0317_db                 |
| clark_db                      |
| cn_db_123                     |
| cn_hive2_db                   |
| creditcard                    |
| cyw_db                        |
| danielle_danyang              |
| danielle_db                   |
| datengl_db                    |
| datenglstock_db               |
| db_jesseqz                    |
| dcdsdepeizhang_demodb         |
| ddd                           |
| default                       |
| derek_db                      |
| derek_db_123                  |
| dexin_db                      |
| dhu_db                        |
| dinglele_db                   |
| dummy_123                     |
| empdb                         |
| ethan                         |
| fake_db                       |
| fan                           |
| faye_db                       |
| frank_hw4                     |
| frankj_db                     |
| frankz_db                     |
| greg_db                       |
| guan_db                       |
| guolin_db                     |
| hanying                       |
| hanying_db                    |
| haoli_demodb042020            |
| heyang                        |
| hongzhao_db                   |
| huimin_db                     |
| huimin_homework               |
| hw3_db                        |
| hw7                           |
| jane_db_0311                  |
| jason_demodb032019            |
| jason_salary_analy            |
| jason_salary_analysis         |
| jason_salary_analysis2        |
| jason_salary_analysis3        |
| jason_supermarket             |
| jason_travel                  |
| jasonsalary                   |
| jchen_db                      |
| jiadi_db                      |
+-------------------------------+--+
|         database_name         |
+-------------------------------+--+
| jingfang_db                   |
| jinghan_homework              |
| jingnan_db                    |
| jingzi_db                     |
| jkq_db_test1                  |
| jma_db                        |
| josh07_db                     |
| julia_db                      |
| julia_db_123                  |
| julia_db_de178                |
| julia_db_de182                |
| junduo_db                     |
| junebabee_db                  |
| kris_db                       |
| kunchurhivedemo               |
| kunwu                         |
| lacy_supermarket              |
| lacysalary                    |
| lantianqhive                  |
| lc                            |
| liang_db                      |
| lihuixin_db                   |
| ling_db                       |
| lizyang_db                    |
| lizzie_db                     |
| ljw_db                        |
| louisyansaud                  |
| lucao_db                      |
| lutong_db                     |
| lyh_db                        |
| marcus_db                     |
| mario_db                      |
| massdata                      |
| meifang_db                    |
| mikey_tian                    |
| modansalary                   |
| modanwan_salary               |
| new_nrd                       |
| norahivedemo                  |
| nrd                           |
| nuoyi_db                      |
| nuoyul_data                   |
| osu_xiao                      |
| oyang_db                      |
| patrick_db                    |
| patrick_hw03                  |
| paulkahng                     |
| pd_demo_db                    |
| pd_hw3_db                     |
| peitong_db                    |
| ql                            |
| ran_salary_analysis           |
| randy_db                      |
| randy_db_123                  |
| rkou_db_123                   |
| rui_db                        |
| ruili_db                      |
| ruoqing_db                    |
| ruoqing_stock                 |
| rushan_salary_analysis        |
| ryhuang_db                    |
| ryu_db                        |
| salary                        |
| salary_analysis               |
| salary_analysis2              |
| salary_analysis3              |
| salary_analytics2             |
| salaryanalysis                |
| sam                           |
| shaomai_db                    |
| sherry_db                     |
| shimin_db                     |
| shiyizhe_salary_analysis      |
| shunchao_db                   |
| shuyi_supermarket             |
| shuyu_test1_db                |
| sophiel_nrd                   |
| sss_db                        |
| stella_xixi                   |
| stock                         |
| stock_db                      |
| stock_jfdb                    |
| stock_qc                      |
| sz001                         |
| sz002                         |
| ta_instacart                  |
| tanh_db                       |
| tarunhivedemo                 |
| tata_db                       |
| terry_demobd122019            |
| test                          |
| test1                         |
| test123                       |
| test_db_123                   |
| testdemo                      |
| tian_db                       |
| tiandan_db                    |
| tianyid_db                    |
| tongli_db                     |
| travel                        |
+-------------------------------+--+
|         database_name         |
+-------------------------------+--+
| tree_db_123                   |
| trump123                      |
| tsinghua                      |
| tty_db                        |
| txinyi_db                     |
| usc_kunchur                   |
| uscalafaliq_travel            |
| uscanqipan_travel             |
| uscaruns_salary_analysis3     |
| uscaruns_travel               |
| uscashokabh_travel            |
| uscbyungjak_travel            |
| usccdquinte_travel            |
| uscchaparal_travel            |
| uscchen731_travel             |
| uscchen969_travel             |
| uscchinkaih_travel            |
| uscchiyichu_travel            |
| uscchristcn_travel            |
| uscconglinx_travel            |
| usceshagpoo_travel            |
| uscfeldmanr_travel            |
| uscfshao_travel               |
| uscgorowara_salary_analysis   |
| uscgorowara_travel            |
| uscgrovers_travel             |
| uscguangjiy_travel            |
| uscguting_travel              |
| uscgyanprak_travel            |
| uschanciwan_travel            |
| uschhammad_travel             |
| uscikahyaog_travel            |
| uscjaeminle_travel            |
| uscjain153_travel             |
| uscjianyil_travel             |
| usckque_travel                |
| usckunchur_travel             |
| usclantianq_travel            |
| uscleixiyua_travel            |
| usclinglanm_travel            |
| uscliu667_travel              |
| uscluoyu_travel               |
| uscmavvari_salary_analysis    |
| uscmavvari_travel             |
| uscmganji_travel              |
| uscmodanwan_travel            |
| uscmraghava_travel            |
| uscmusthofa_travel            |
| uscnaiyuanx_travel            |
| uscnli357_travel              |
| uscoliviahu_travel            |
| uscpalande_travel             |
| uscpaulkahn_travel            |
| uscponiench_travel            |
| uscpshankar_travel            |
| uscqiaol_travel               |
| uscrami359_travel             |
| uscruhandon_travel            |
| uscruixinwu_travel            |
| uscruoxianj_travel            |
| uscruoxuwan_travel            |
| uscrushanzh_travel            |
| uscrxuan_travel               |
| uscshanjiaj_travel            |
| uscshar198_travel             |
| uscshi670_travel              |
| uscshihualu_travel            |
| uscshiwenxu_travel            |
| uscshiyizhe_travel            |
| uscshuxiaoz_travel            |
| uscshuyitao_travel            |
| uscsiyaohu_travel             |
| usctang545_travel             |
| usctianqihe_travel            |
| usctongxie_travel             |
| usctzuyihua_travel            |
| uscwangziji_travel            |
| uscwenzhen_travel             |
| uscxduo_travel                |
| uscxiaoqiuy_travel            |
| uscxiaoxuan_travel            |
| uscxingjian_travel            |
| uscxinyuec_travel             |
| uscxiwenche_travel            |
| uscxiyuan_travel              |
| uscxudongz_travel             |
| uscxuewenlu_travel            |
| uscyansaud_travel             |
| uscygui_travel                |
| uscyingzhaz_travel            |
| uscyiqiongz_travel            |
| uscyoungenc_travel            |
| uscyufeiw_travel              |
| uscyufu_travel                |
| uscywu882_travel              |
| usczhan577_travel             |
| usczhaowent_travel            |
| usczhengliz_salary_analysis   |
| usczhengliz_salary_analysis3  |
| usczhengliz_travel            |
+-------------------------------+--+
|         database_name         |
+-------------------------------+--+
| usczhumingw_travel            |
| usczhuolino_travel            |
| usczhuoquns_travel            |
| usczihaogen_travel            |
| usczimengca_travel            |
| wenbom_db                     |
| wenboma_db                    |
| wenboma_nrd                   |
| wentaodb                      |
| weny_123                      |
| wenyue_db                     |
| wenyuew_db                    |
| woolf                         |
| wyw_db                        |
| xd_salary_analysis            |
| xd_salary_analysis2           |
| xiangyu_db                    |
| xiaokang_db                   |
| xiaoxiachampon_demo           |
| xiaoyi571                     |
| xiaoyuez_stock0428            |
| xinyi_db                      |
| xinyue_db                     |
| xqj_db                        |
| xtralz_nrd                    |
| xtralz_spark                  |
| xuewenlu_db                   |
| xwl                           |
| yakan_salary_analysis         |
| yangguo_db                    |
| yimingl_db                    |
| yingc_db                      |
| yingjie_db                    |
| yingjie_db_123                |
| yinglong_db                   |
| yinxiao_db                    |
| yinzhuo_db                    |
| yiyu                          |
| yiyu_db                       |
| yongtian_db                   |
| yongzstock_db                 |
| yourusename_travel            |
| yuanli_db                     |
| yuanli_db_123                 |
| yue_1_db                      |
| yue_hive_hw1                  |
| yuel_db                       |
| yufei_db                      |
| yunmiao_db                    |
| yuzi_db                       |
| yuzi_hw                       |
| yx_db                         |
| yx_db_123                     |
| yxu_db                        |
| zdm_db                        |
| zepeng_db                     |
| zfrank                        |
| zhangpuhan_db                 |
| zhaozhen_db                   |
| zheng_db                      |
| zhuzi_db                      |
| zhyi_db                       |
| zhyi_db_001                   |
| zhyi_db_star                  |
| zhyi_db_titanic               |
| zishuo_demodb                 |
| zs_db                         |
| zy_db                         |
| zyang_db                      |
| zzlsalary                     |
| zzznewdb                      |
| zzzzfrankdb                   |
+-------------------------------+--+

In [7]:
beeline -u jdbc:hive2://m3.mt.dataapplab.com:10000/default -n dcdsdepeizhang -w hive-beeline.key --silent=true -e "use jasonsalary; show tables;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
+-----------+--+
| tab_name  |
+-----------+--+
| salary    |
+-----------+--+

In [8]:
beeline -u jdbc:hive2://m3.mt.dataapplab.com:10000/default -n dcdsdepeizhang -w hive-beeline.key --silent=true -e "use jasonsalary; describe salary;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
+--------------+------------+----------+--+
|   col_name   | data_type  | comment  |
+--------------+------------+----------+--+
| code         | string     |          |
| description  | string     |          |
| total_emp    | int        |          |
| salary       | int        |          |
+--------------+------------+----------+--+

In [9]:
beeline -u jdbc:hive2://m3.mt.dataapplab.com:10000/default -n dcdsdepeizhang -w hive-beeline.key --silent=true -e "use jasonsalary; select count(*) as count from salary;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
+--------+--+
| count  |
+--------+--+
| 1646   |
+--------+--+

In [10]:
beeline -u jdbc:hive2://m3.mt.dataapplab.com:10000/default -n dcdsdepeizhang -w hive-beeline.key --silent=true -e "use jasonsalary; select * from salary limit 10;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
+--------------+--------------------------------------+-------------------+----------------+--+
| salary.code  |          salary.description          | salary.total_emp  | salary.salary  |
+--------------+--------------------------------------+-------------------+----------------+--+
| 00-0000      | All Occupations                      | 135185230         | 42270          |
| 11-0000      | Management occupations               | 6152650           | 100310         |
| 11-1011      | Chief executives                     | 301930            | 160440         |
| 11-1021      | General and operations managers      | 1697690           | 107970         |
| 11-1031      | Legislators                          | 64650             | 37980          |
| 11-2011      | Advertising and promotions managers  | 36100             | 94720          |
| 11-2021      | Marketing managers                   | 166790            | 118160         |
| 11-2022      | Sales managers                       | 333910            | 110390         |
| 11-2031      | Public relations managers            | 51730             | 101220         |
| 11-3011      | Administrative services managers     | 246930            | 79500          |
+--------------+--------------------------------------+-------------------+----------------+--+

In [11]:
beeline -u jdbc:hive2://m3.mt.dataapplab.com:10000/default -n dcdsdepeizhang -w hive-beeline.key --silent=true -e "use jasonsalary; select * from salary limit 100;" --outputformat=csv > hive-beeline.csv

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo

In [12]:
ls -l

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
total 48
-rw-r--r--. 1 dcdsdepeizhang student   732 Jul 29 23:04 derby.log
-rw-r--r--. 1 dcdsdepeizhang student 15609 Aug  3 23:20 hive-beeline.csv
-rw-r--r--. 1 dcdsdepeizhang student     9 Aug  3 21:17 hive-beeline.key
-rw-r--r--. 1 dcdsdepeizhang student   266 Aug  3 23:15 hive.sql
drwxr-xr-x. 2 dcdsdepeizhang student  4096 Jul 30 23:09 MapReduce
-rw-r--r--. 1 dcdsdepeizhang student  1683 Jul 29 23:04 spark-graphx.py
-rw-r--r--. 1 dcdsdepeizhang student   732 Jul 30 21:01 spark-mllib.py
-rw-r--r--. 1 dcdsdepeizhang student  1232 Jul 30 21:30 spark-sql.py
drwxr-xr-x. 2 dcdsdepeizhang student  4096 Jul 29 22:40 spark-warehouse

In [13]:
head -10 hive-beeline.csv

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
+--------------+-----------------------------------------------------------------------------------------------+-------------------+----------------+--+
| salary.code  |                                      salary.description                                       | salary.total_emp  | salary.salary  |
+--------------+-----------------------------------------------------------------------------------------------+-------------------+----------------+--+
| 00-0000      | All Occupations                                                                               | 135185230         | 42270          |
| 11-0000      | Management occupations                                                                        | 6152650           | 100310         |
| 11-1011      | Chief executives                                                                              | 301930            | 160440         |
| 11-1021      | General and operations managers                                                               | 1697690           | 107970         |
| 11-1031      | Legislators                                                                                   | 64650             | 37980          |
| 11-2011      | Advertising and promotions managers                                                           | 36100             | 94720          |
| 11-2021      | Marketing managers                                                                            | 166790            | 118160         |

## 2. SQL Query with Hive CLI

In [14]:
hive -S -e "show databases;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
aadsxuhan_db
acdelingz_db_123
acdeshaowu_db
aedsdavidh_db
aedsjasonc_db
aedsjiaxuf_db
aedsjinyul_db
aedsxiaofeiz_db
aedsyingc_db
aedsyongz_db
aedsyuxint_db
afaye_db
afdebjfengye1_db
afdebjfengye_db
afdsbjxiaokang
agdsbings_db
agdslex_db
agdsx
aisrexit
akdszhiyuanc_db
alafaliq_travel
alex_db
alex_demo
alick_db
allen_db
angelapper_db
angli_ab
anzong_db
badskunqiangj_db_123
bhdsyunyuh_db
bhdsyunyuh_db_123
binghuan_db
binghuan_stock_db
binghuan_stock_db_oct_9_17
binwen_x_nrd
bjdssherryz_db
bjmaomao_db
cadsqiangt_test
chen_db
chen_test
chenguang_ta
chenwei_db
chenyang_db
chi
chi_db
chloe_demodb
chris
chubing_db_123
claire0317
claire0317_db
clark_db
cn_db_123
cn_hive2_db
creditcard
cyw_db
danielle_danyang
danielle_db
datengl_db
datenglstock_db
db_jesseqz
dcdsdepeizhang_demodb
ddd
default
derek_db
derek_db_123
dexin_db
dhu_db
dinglele_db
dummy_123
empdb
ethan
fake_db
fan
faye_db
frank_hw4
frankj_db
frankz_db
greg_db
guan_db
guolin_db
hanying
hanying_db
haoli_demodb042020
heyang
hongzhao_db
huimin_db
huimin_homework
hw3_db
hw7
jane_db_0311
jason_demodb032019
jason_salary_analy
jason_salary_analysis
jason_salary_analysis2
jason_salary_analysis3
jason_supermarket
jason_travel
jasonsalary
jchen_db
jiadi_db
jingfang_db
jinghan_homework
jingnan_db
jingzi_db
jkq_db_test1
jma_db
josh07_db
julia_db
julia_db_123
julia_db_de178
julia_db_de182
junduo_db
junebabee_db
kris_db
kunchurhivedemo
kunwu
lacy_supermarket
lacysalary
lantianqhive
lc
liang_db
lihuixin_db
ling_db
lizyang_db
lizzie_db
ljw_db
louisyansaud
lucao_db
lutong_db
lyh_db
marcus_db
mario_db
massdata
meifang_db
mikey_tian
modansalary
modanwan_salary
new_nrd
norahivedemo
nrd
nuoyi_db
nuoyul_data
osu_xiao
oyang_db
patrick_db
patrick_hw03
paulkahng
pd_demo_db
pd_hw3_db
peitong_db
ql
ran_salary_analysis
randy_db
randy_db_123
rkou_db_123
rui_db
ruili_db
ruoqing_db
ruoqing_stock
rushan_salary_analysis
ryhuang_db
ryu_db
salary
salary_analysis
salary_analysis2
salary_analysis3
salary_analytics2
salaryanalysis
sam
shaomai_db
sherry_db
shimin_db
shiyizhe_salary_analysis
shunchao_db
shuyi_supermarket
shuyu_test1_db
sophiel_nrd
sss_db
stella_xixi
stock
stock_db
stock_jfdb
stock_qc
sz001
sz002
ta_instacart
tanh_db
tarunhivedemo
tata_db
terry_demobd122019
test
test1
test123
test_db_123
testdemo
tian_db
tiandan_db
tianyid_db
tongli_db
travel
tree_db_123
trump123
tsinghua
tty_db
txinyi_db
usc_kunchur
uscalafaliq_travel
uscanqipan_travel
uscaruns_salary_analysis3
uscaruns_travel
uscashokabh_travel
uscbyungjak_travel
usccdquinte_travel
uscchaparal_travel
uscchen731_travel
uscchen969_travel
uscchinkaih_travel
uscchiyichu_travel
uscchristcn_travel
uscconglinx_travel
usceshagpoo_travel
uscfeldmanr_travel
uscfshao_travel
uscgorowara_salary_analysis
uscgorowara_travel
uscgrovers_travel
uscguangjiy_travel
uscguting_travel
uscgyanprak_travel
uschanciwan_travel
uschhammad_travel
uscikahyaog_travel
uscjaeminle_travel
uscjain153_travel
uscjianyil_travel
usckque_travel
usckunchur_travel
usclantianq_travel
uscleixiyua_travel
usclinglanm_travel
uscliu667_travel
uscluoyu_travel
uscmavvari_salary_analysis
uscmavvari_travel
uscmganji_travel
uscmodanwan_travel
uscmraghava_travel
uscmusthofa_travel
uscnaiyuanx_travel
uscnli357_travel
uscoliviahu_travel
uscpalande_travel
uscpaulkahn_travel
uscponiench_travel
uscpshankar_travel
uscqiaol_travel
uscrami359_travel
uscruhandon_travel
uscruixinwu_travel
uscruoxianj_travel
uscruoxuwan_travel
uscrushanzh_travel
uscrxuan_travel
uscshanjiaj_travel
uscshar198_travel
uscshi670_travel
uscshihualu_travel
uscshiwenxu_travel
uscshiyizhe_travel
uscshuxiaoz_travel
uscshuyitao_travel
uscsiyaohu_travel
usctang545_travel
usctianqihe_travel
usctongxie_travel
usctzuyihua_travel
uscwangziji_travel
uscwenzhen_travel
uscxduo_travel
uscxiaoqiuy_travel
uscxiaoxuan_travel
uscxingjian_travel
uscxinyuec_travel
uscxiwenche_travel
uscxiyuan_travel
uscxudongz_travel
uscxuewenlu_travel
uscyansaud_travel
uscygui_travel
uscyingzhaz_travel
uscyiqiongz_travel
uscyoungenc_travel
uscyufeiw_travel
uscyufu_travel
uscywu882_travel
usczhan577_travel
usczhaowent_travel
usczhengliz_salary_analysis
usczhengliz_salary_analysis3
usczhengliz_travel
usczhumingw_travel
usczhuolino_travel
usczhuoquns_travel
usczihaogen_travel
usczimengca_travel
wenbom_db
wenboma_db
wenboma_nrd
wentaodb
weny_123
wenyue_db
wenyuew_db
woolf
wyw_db
xd_salary_analysis
xd_salary_analysis2
xiangyu_db
xiaokang_db
xiaoxiachampon_demo
xiaoyi571
xiaoyuez_stock0428
xinyi_db
xinyue_db
xqj_db
xtralz_nrd
xtralz_spark
xuewenlu_db
xwl
yakan_salary_analysis
yangguo_db
yimingl_db
yingc_db
yingjie_db
yingjie_db_123
yinglong_db
yinxiao_db
yinzhuo_db
yiyu
yiyu_db
yongtian_db
yongzstock_db
yourusename_travel
yuanli_db
yuanli_db_123
yue_1_db
yue_hive_hw1
yuel_db
yufei_db
yunmiao_db
yuzi_db
yuzi_hw
yx_db
yx_db_123
yxu_db
zdm_db
zepeng_db
zfrank
zhangpuhan_db
zhaozhen_db
zheng_db
zhuzi_db
zhyi_db
zhyi_db_001
zhyi_db_star
zhyi_db_titanic
zishuo_demodb
zs_db
zy_db
zyang_db
zzlsalary
zzznewdb
zzzzfrankdb

In [15]:
hive -S -e "use jason_supermarket; show tables;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
aisle
department
order_product
orders
product

In [16]:
hive -S -e "use jason_supermarket; describe orders;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
id                  	int
user_id             	int
eval_set            	string
order_number        	int
order_dow           	int
order_hour_of_day   	int
days_since_prior_order	int

In [17]:
hive -S -e "use jason_supermarket; select count(*) as count from orders;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
3421084

In [18]:
hive -S -e "use jason_supermarket; select * from orders limit 10;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
NULL	NULL	eval_set	NULL	NULL	NULL	NULL
2539329	1	prior	1	2	8	NULL
2398795	1	prior	2	3	7	15
473747	1	prior	3	3	12	21
2254736	1	prior	4	4	7	29
431534	1	prior	5	4	15	28
3367565	1	prior	6	2	7	19
550135	1	prior	7	1	9	20
3108588	1	prior	8	1	14	14
2295261	1	prior	9	1	16	0

In [19]:
hdfs dfs -ls hdfs:///user/jason/hivedemo/supermarket/

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
Found 5 items
drwxr-xr-x   - jason superta          0 2018-02-17 21:03 hdfs:///user/jason/hivedemo/supermarket/aisle
drwxr-xr-x   - jason superta          0 2018-02-17 21:03 hdfs:///user/jason/hivedemo/supermarket/department
drwxr-xr-x   - jason superta          0 2018-02-17 21:04 hdfs:///user/jason/hivedemo/supermarket/order
drwxr-xr-x   - jason superta          0 2018-02-17 21:05 hdfs:///user/jason/hivedemo/supermarket/order_product
drwxr-xr-x   - jason superta          0 2018-02-17 21:05 hdfs:///user/jason/hivedemo/supermarket/product

In [20]:
hdfs dfs -ls hdfs:///user/jason/hivedemo/supermarket/order/

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
Found 1 items
-rwxr-xr-x   3 jason superta  108968645 2018-02-17 21:04 hdfs:///user/jason/hivedemo/supermarket/order/orders.csv

## 3. Create Database & Table with Hive CLI

In [21]:
hive -S -e "drop database if exists dcdsdepeizhang_demodb cascade;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo

In [22]:
hive -S -e "create database dcdsdepeizhang_demodb location 'hdfs:///user/dcdsdepeizhang/hivedemo/demodb/';"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo

In [23]:
hdfs dfs -ls hdfs:///user/dcdsdepeizhang/hivedemo/

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
Found 1 items
drwxr-xr-x   - dcdsdepeizhang student          0 2020-08-03 23:23 hdfs:///user/dcdsdepeizhang/hivedemo/demodb

In [24]:
cat << EOF > hive.sql
create external table dcdsdepeizhang_demodb.salary(
code        string,
description string,
total_emp   int,
salary      int)
partitioned by (year string)
row format delimited
fields terminated by '\t'
location 'hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/';
EOF

hive -S -f hive.sql

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo

In [25]:
hdfs dfs -ls hdfs:///user/dcdsdepeizhang/hivedemo/demodb/

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
Found 1 items
drwxr-xr-x   - dcdsdepeizhang student          0 2020-08-03 23:24 hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary

In [26]:
hive -S -e "use dcdsdepeizhang_demodb; show tables;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
salary

In [27]:
hive -S -e "use dcdsdepeizhang_demodb; describe salary;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
code                	string
description         	string
total_emp           	int
salary              	int
year                	string

# Partition Information
# col_name            	data_type           	comment

year                	string

In [28]:
hive -S -e "alter table dcdsdepeizhang_demodb.salary add if not exists partition (year='07') location 'hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_07';"
hive -S -e "alter table dcdsdepeizhang_demodb.salary add if not exists partition (year='08') location 'hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_08';"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo

In [29]:
hive -S -e "desc formatted dcdsdepeizhang_demodb.salary;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
# col_name            	data_type           	comment

code                	string
description         	string
total_emp           	int
salary              	int

# Partition Information
# col_name            	data_type           	comment

year                	string

# Detailed Table Information
Database:           	dcdsdepeizhang_demodb
Owner:              	dcdsdepeizhang
CreateTime:         	Mon Aug 03 23:24:06 PDT 2020
LastAccessTime:     	UNKNOWN
Protect Mode:       	None
Retention:          	0
Location:           	hdfs://m1.mt.dataapplab.com:8020/user/dcdsdepeizhang/hivedemo/demodb/salary
Table Type:         	EXTERNAL_TABLE
Table Parameters:
	EXTERNAL            	TRUE
	transient_lastDdlTime	1596522246

# Storage Information
SerDe Library:      	org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe
InputFormat:        	org.apache.hadoop.mapred.TextInputFormat
OutputFormat:       	org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat
Compressed:         	No
Num Buckets:        	-1
Bucket Columns:     	[]
Sort Columns:       	[]
Storage Desc Params:
	field.delim         	\t
	serialization.format	\t

In [30]:
hive -S -e "show partitions dcdsdepeizhang_demodb.salary;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
year=07
year=08

In [31]:
hdfs dfs -ls hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
Found 2 items
drwxr-xr-x   - dcdsdepeizhang student          0 2020-08-03 23:25 hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_07
drwxr-xr-x   - dcdsdepeizhang student          0 2020-08-03 23:25 hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_08

In [32]:
hdfs dfs -cp hdfs:///user/jason/hivedemo/salary_analysis/salary_all/sample_07.tsv hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_07/
hdfs dfs -cp hdfs:///user/jason/hivedemo/salary_analysis/salary_all/sample_08.tsv hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_08/

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo

In [33]:
hdfs dfs -ls hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_07/
hdfs dfs -ls hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_08/

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
Found 1 items
-rw-r--r--   3 dcdsdepeizhang student      46055 2020-08-03 23:26 hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_07/sample_07.tsv
Found 1 items
-rw-r--r--   3 dcdsdepeizhang student      46069 2020-08-03 23:26 hdfs:///user/dcdsdepeizhang/hivedemo/demodb/salary/sample_08/sample_08.tsv

In [34]:
hive -S -e "use dcdsdepeizhang_demodb; select count(*) as count from salary;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
1646

In [35]:
hive -S -e "use dcdsdepeizhang_demodb; select * from salary limit 10;"

[ssh] host = montana.dataapplab.com, cwd = /home/dcdsdepeizhang/demo
00-0000	All Occupations	134354250	40690	07
11-0000	Management occupations	6003930	96150	07
11-1011	Chief executives	299160	151370	07
11-1021	General and operations managers	1655410	103780	07
11-1031	Legislators	61110	33880	07
11-2011	Advertising and promotions managers	36300	91100	07
11-2021	Marketing managers	165240	113400	07
11-2022	Sales managers	322170	106790	07
11-2031	Public relations managers	47210	97170	07
11-3011	Administrative services managers	239360	76370	07

In [36]:
%logout

[ssh] Closing existing connection.
[ssh] Successfully logged out.